*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
}

html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
}

main{
    width: 100%;
}

main section{
    width: 100%;
    padding: var(--padding-2xl);
    display: flex;
    gap: var(--gutter-lg);
}

main section .left{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gutter-lg);
    width: 60%;
}

main section .top{
    display: flex;
    align-items: center;
    gap: var(--gutter-md);
}

.btn{
    padding: var(--padding-sm) var(--padding-lg);
    border: none;
    outline: none;
    border-radius: var(--border-radius-md);
    background-color: var(--bg-active-color);
    cursor: pointer;
    color: var(--text-active-color);
}

#reset-btn{
    background-color: var(--bg-danger-color);
    color: var(--text-primary-color);
}

#download-btn{
    background-color: var(--bg-success-color);
    color: var(--text-primary-color);
}

main section .bottom{
    background-color: var( --bg-secondary-color);
    width: 100%;
    padding: var(--padding-2xl);
    aspect-ratio: 4/3;
    border-radius: var(--border-radius-xl);
    display: flex;
    align-items: center;
    justify-content: center;
}

main section .bottom .placeholder-image{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: var( --font-size-lg);
    opacity: 0.5;
}
main section .bottom .placeholder-image i{
     font-size: var( --font-size-2xl);
}


main section .right{
    width: 40%;
    background-color: var(--bg-secondary-color);
    padding: var(--padding-lg);
    border-radius: var(--border-radius-xl);
    display: flex;
    flex-direction: column;
    gap: var(--gutter-md);
}

main section .right .filters{
    display: flex;
    flex-direction: column;
    gap: var(--gutter-md);
}

main section .right .filter{
    width: 100%;
}

main section .right .filter input{
    width: 100%;
    outline: none;
    margin-top: var(--margin-sm);
    appearance: none;
}

main section .right .filter input::-webkit-slider-thumb{
    appearance: none;
    cursor: pointer;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    margin-top: -5.5px;
    background-color: red;
}
main section .right .filter input::-webkit-slider-runnable-track{
    background-color: var(--bg-active-color);
    height: 0.2rem;
    border-radius: var(--border-radius-md);
}

canvas{
    max-width: 90%;
    max-height: 70vh;
    display: none;
}

.preset-div{
    display: flex;
    flex-direction: column;
    gap: var(--gutter-md);
}

.presets{
    display: flex;
    flex-wrap: wrap;
    gap: var(--gutter-md);
}   